
body{
  height: 100%;
  width: 100%;
}

.tagh1{
  font-family: Dishonorable Mention;
  font-size: 15px;
  line-height: 70%;
}

.previous{
  font-family: Dishonorable Mention;
  color: crimson;
   font-family: Impact;

}

.resultwrong{
  font-family: Impact;
  background-color: lightcoral;
}

.resultright{
  font-family: Impact;
  background-color: lightgreen;
}
